@import url('./palette_colors.css'); 

@font-face {
    font-family: 'AlfaSlabOne';
    src: url('../fonts/AlfaSlabOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CodeFont';
    src: url('../fonts/Roboto/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CodeFont';
    src: url('../fonts/Roboto/RobotoMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CodeFont';
    src: url('../fonts/Roboto/RobotoMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CodeFont';
    src: url('../fonts/Roboto/RobotoMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CodeFont';
    src: url('../fonts/Roboto/RobotoMono-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'CodeFont';
    src: url('../fonts/Roboto/RobotoMono-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'CodeFont';
    src: url('../fonts/Roboto/RobotoMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'CodeFont', sans-serif;
    font-weight: 400;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 0.875em;
    cursor: url("/src/media/icons/cursor-pointer.png"), auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'CodeFont', sans-serif;
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: -0.1em;
}

h1 {
    font-size: 3.25em;
}

h2 {
    font-size: 2.75em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.25em;
    font-weight: 400;
}

h6 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p {
    margin-top: 1rem;
    font-family: 'CodeFont', sans-serif;
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 1.75em;
}

main {
    /* padding: 3rem 1.5rem; */
    z-index: 1;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.light-cursor {
    position: fixed;
    mix-blend-mode: screen;
    inset: 0;
    background: radial-gradient(600px at 0px 0px, rgba(16, 23, 38, 0.15), transparent 90%);
}


/* LOADER */
#loader {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: 'AlfaSlabOne', cursive;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    /* text-transform: capitalize; */
    background: radial-gradient(circle,var(--secondary-color), rgb(0, 0, 1) 100%);
    color: var(--text-color);
    font-size: 3.25em;
    z-index: 50;
}

#loader-toggle {
    font-family: 'Code', sans-serif;
    font-weight: 500;
    font-size: 0.875em;
    text-transform: none;
    text-shadow: 0 0 0.75em #000000;
}

#loader-toggle img {
    height: 0.875em;
    width: auto;
}

#typed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#typed-container > :nth-child(2) {
    /* margin-top: -0.5em; */
}

#typed-title, #cursor-two {
    font-size: 0.5em;
}

#loader-toggle {
    /* border: 1px solid var(--text-color); */
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    cursor: pointer;
    transition: all 0.3s ease;
}

#loader-toggle:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
    border-radius: 0.5em;
    box-shadow: 0 0 1em var(--text-color);
}

.cursor {
    display: inline-block;
    animation: blink 1s step-end infinite;
}

#content {
    display: flex;
}

#content:nth-child(2) {
    width: 50%;
}

.module-page {
    min-height: 100vh;
}

#aside {
    width: 50%;
    position: sticky;
    top: 0;
}

#aside-socials {
    margin-top: 2.5em;
    display: flex;
    align-items: center;
}

#aside-socials > :nth-child(even) {
    margin-left: 2em;
}

.module-title {
    padding: 1em 0;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 1em;
    font-weight: 700;
    position: sticky;
    top: 0;
    background-color: #1017263d;
    backdrop-filter: blur(5px);
    z-index: 1;
}

#experience-list ul {
    margin-top: 1em;
    list-style: none;
    padding: 0;
    display: flex;
}

#experience-list ul li {
    margin-right: 1em;
    padding: 0.25rem 0.75rem;
    border-radius: 100px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

#experience-list ul li:hover { 
    background-color: var(--secondary-light-color);
    color: var(--text-color);
    box-shadow: 0 0 1em var(--secondary-light-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

#experience-list ul li:not(:last-child) {
    margin-right: 1em;
}

.experience-item {
    margin: 3em 0;
}

.experience-item-period {
    font-weight: 600;
    color: var(--paragraph-color);
    font-size: 0.85em;
    text-transform: uppercase;
}

.experience-item-company {
    font-weight: 600;
    color: var(--paragraph-color);
    font-size: 1em;
    text-transform: uppercase;
}

.experience-item-title {
    font-weight: 700;
    color: var(--text-color);
    font-size: 1.25em;
}

#skills-list {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1em;
}

#skills-list .skill-levels {
    display: grid;
    margin-top: 0.75em;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5em;
}

.skill-item-name {
    font-weight: 600;
    color: var(--text-color);
    font-size: 1em;
}

#skills-list .skill-levels .skill-level-item {
    width: 100%;
    height: 0.5em;
    background-color: var(--paragraph-color);
    border-radius: 0.25em;
    box-shadow: inset 0 0 0.25em var(--dark-color);
}

#skills-list .skill-levels .skill-level-item.active {
    background-color: var(--secondary-light-color);
    box-shadow: 0 0 0.25em var(--secondary-light-color);
}

.link-btn {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.link-btn:hover {
    text-shadow: 0 0 1em var(--text-color); 
}

.link-btn img {
    margin-left: 0.5em;
    rotate: 150deg;
}

.footer {
    margin-top: 2em;
    padding: 1em;
    text-align: center;
    font-size: 0.875em;
    color: var(--text-color);
}
#footer-inner {
    display: none;
}

.quote {
    font-style: italic;
    color: var(--text-ligth-color);
    margin-top: 2em;
    text-align: center;
}

#aside-menu {
    margin-top: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    display: none;
}

#aside-menu a {
    color: var(--paragraph-color);
}

#aside-menu li:not(:first-child) {
    margin-top: 1em;
}

#aside-menu li {
    position: relative;
    padding: 0 4rem;
    transition: all 0.3s ease;
}

#aside-menu li::before {
    content: "";
    position: absolute;
    width: 7%;
    height: 0.1em;
    background-color: var(--paragraph-color);
    bottom: 40%;
    left: 0;
    transition: all 0.3s ease;
}

#aside-menu li:hover::before, #aside-menu li.active::before {
    width: 13%;
    height: 0.1em;
    background-color: var(--text-color);
    bottom: 40%;
    left: 0;
}

#aside-menu li:hover, #aside-menu li.active {
    padding: 0 6.5rem;
}

#aside-menu li:hover a, #aside-menu li.active a {
    color: var(--text-color);
}

code {
    padding: 0.3em 0.5em;
    background-color: var(--dark-color);
    color: var(--text-color);
    border-radius: 0.45em;
    font-size: 0.875em;
    display: flex;
    box-shadow: inset 0 0 0.25em var(--secondary-light-color);
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}


@media (min-width: 1024px) {
    #aside {
        min-width: 50%;
        max-height: 100vh;
        padding: 6rem 0;
    }
    #aside p {
        min-width: 80%;
    }

    #aside .module-page {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    
    #experience .module-page, #skills .module-page, #footer-inner .module-page {
        padding-top: 6rem;
    }

    .module-page {
        min-height: auto;
    }

    .module-title {
        display: none;
    }
    
    main {
        padding: 0 4rem;
    }

    #modules-container{
        padding: 6rem 0;
    }

    #footer-inner {
        display: block;
    }

    #footer {
        display: none;
    }

    #aside-menu {
        display: block;
    }
}

@media (max-width: 1023px) {
    main {
        padding: 0 3rem;
    }
    .module-page{
        height: auto;
        min-height: auto;
        margin-top: 5em;
    }
    #content {
        flex-direction: column;
    }
    #loader {
        display: none;
    }
    body {
        overflow-y: auto !important;
    }
    #aside {
        width: 100%;
        position: relative;
        height: auto;
        position: static;
        margin-bottom: 4em;
    }
    #content:nth-child(2) {
        width: 100%;
    }
}

@media (min-width: 768px) {
    main {
        /* padding: 4rem 3rem; */
    }
}

@media (max-width: 575px) {
    #aside h1 {
        font-size: 2.5em;
        margin-bottom: 0.5em;
    }
    #aside p {
        max-width: 100% !important;
    }
    main {
        padding: 0 1.5rem;
    }
}

@media (min-width: 576px) {
    .experience-item {
        display: grid;
        grid-template-columns: 30% 1fr;
        gap: 1em;
    }
}