:root {
    --primary-color: #101726;
    --secondary-color: #1E2940;
    --secondary-light-color: #1c3b7e;
    --text-color: #F2F2F2;
    --paragraph-color: #94A3B8;
    --text-ligth-color: #B0B0B0;
    --grey-color: #737373;
    --dark-color: #0D0D0D;
}